.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;   /* centers items horizontally */
    align-items: center;  
    background-color: #ccc;
    padding: 20px;
}

img{
    height: 500px;
    width: 600px;
    /* grid-column: 2; */
    flex: 0 0 80%;
    object-fit: contain;
    justify-self: center; /* horizontal center */
    align-self: center; /* vertical center */
}

.button-right{
    padding: 20px;
    border-radius: 2px;
}

.button-left{
    padding: 20px;
    border-radius: 2px;
}

button{
    border: 2px solid;
    background-color: rgba(95, 93, 93, 0.862);
    color: white;
    opacity: 20px;
    font-size: 20px;
    border-radius: 10px;
}

/* button:hover{
    background-color: gray;
    opacity: 20%;
    color: white;
} */

.page-jump-container{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}

.slider-container{
    display: flex;
    width: 80%;
    /* grid-column: 2; */
    flex: 0 0 10%;
    justify-self: center;
    align-self: center;
    padding-bottom: 10px;
    align-items: stretch;
    background-color: #ccc;
}

.page-num-container{
    justify-self: center;
    align-self: center;
    flex: 0 0 10%;
    /* grid-column: 2; */
    padding-bottom: 20px;
    background-color: #ccc;
}

input[type='range'] {
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type='number']{
    justify-self: center;
   
}